USE [DemoCRUD]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 3/17/2021 10:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Sr_no] [int] IDENTITY(1,1) NOT NULL,
	[Emp_name] [nvarchar](500) NOT NULL,
	[City] [nvarchar](500) NULL,
	[STATE] [nvarchar](500) NULL,
	[Country] [nvarchar](500) NULL,
	[Department] [nvarchar](500) NULL,
	[flag] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Sr_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

INSERT [dbo].[tbl_Employee] ([Sr_no], [Emp_name], [City], [STATE], [Country], [Department], [flag]) VALUES (3, N'1', N'Quảng Ngãi', N'1', N'1', N'1', NULL)
INSERT [dbo].[tbl_Employee] ([Sr_no], [Emp_name], [City], [STATE], [Country], [Department], [flag]) VALUES (4, N'Nguyễn Hoàng Vương', N'Quảng Ngãi', N'23', N'323', N'32', NULL)
SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
GO
/****** Object:  StoredProcedure [dbo].[Sp_Employee]    Script Date: 3/17/2021 10:52:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_Employee]
@Sr_no int,@Emp_name nvarchar(500),
@City nvarchar(500),@STATE nvarchar(500),
@Country nvarchar(500),@Department nvarchar(500),
@flag nvarchar(50)
as 
begin
	if(@flag = 'insert')
	begin 
		insert into dbo.tbl_Employee
		(Emp_name,City,STATE,Country,Department)
		values(@Emp_name,@City,@STATE,@Country,@Department)
	end
	else if(@flag = 'update')
	begin
		update dbo.tbl_Employee set Emp_name = @Emp_name,City = @City,
		STATE =@STATE , Country = @Country,Department = @Department
		where Sr_no = @Sr_no
	end
	else if(@flag = 'delete')
	begin
		delete from dbo.tbl_Employee where Sr_no = @Sr_no
	end
	else if(@flag ='getid')
	begin
		select * from dbo.tbl_Employee
		where Sr_no = @Sr_no
	end
	else if(@flag ='get')
	begin
		select * from dbo.tbl_Employee
	end
end
GO
